lycoris-lora==1.8.3
albumentations==1.4.15
albucore==0.0.16
controlnet_aux==0.0.7
huggingface_hub==0.25.1
python-dotenv
oyaml
safetensors
torch
diffusers
transformers
torchvision
opencv-python
albumentations
lpips
einops
optimum
optimum.quanto
open_clip_torch
k_diffusion
hf_transfer
bitsandbytes
mediapipe


